<div class="ejym_banner">
	<img src="/plugins/images/ej_banner.jpg"/>
</div>
<div class="content clearfix">
	<div class="crumbs ">当前位置：<a href="#">关于我们</a>  </div>
	<div class="gywm mt20">
		<div class="gywm_tittle">
			关于我们
		</div>
		<div class="gywm_content clearfix">
			<img  src="/plugins/images/icon_2.jpg" />
			<%if @about_us.present?%>
			 <%= @about_us.content.html_safe  %>
			<%else%>
			  暂无文章
			<%end%>
		</div>
	</div>
</div>
