<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<ul class="navigation">
				<li>
					<%= link_to root_path do  %>
						<i class="menu-icon fa fa-dashboard"></i><span class="mm-text">代办任务</span>
					<% end %>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">公告管理模块</span></a>
          <ul>
            <li>
              <a tabindex="-1" href="ui-buttons.html"><span class="mm-text">新增文章类别</span></a>
            </li>
            <li>
              <a tabindex="-1" href="ui-typography.html"><span class="mm-text">新增文章</span></a>
            </li>
            <li>
              <a tabindex="-1" href="ui-tabs.html"><span class="mm-text">文章列表</span></a>
            </li>
          </ul>
        </li>
        	<li>
					<%= link_to '/pix/index.html', target: '_blank' do  %>
						<i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Template Demo</span>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
