<div class="panel">
  <div class="panel-heading">
    <span class="panel-title">文章信息</span>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td>
          <%#= f.input :project_cate, as: :select, collection: BidConstants::BID_TYPE.to_a, selected: @bid_project.project_cate, include_hidden: false, label: '文章类别' %>
        </td>
      </tr>
      <tr>
        <td>
          <%#= f.input :title, label: '文章标题' %>
        </td>
      </tr>
      <tr>
        <td>
          <%#= f.input :quote, size: 40*40, label: '摘要：' %>
        </td>
      </tr>
      <tr>
        <td>
          <%#= f.input :fkfs, as: :select, collection: BidConstants::FKFS.to_a, selected: @bid_project.fkfs, label: '是否公开' %>
        </td>
      </tr>
      <tr>
        <td>
           <%#= f.ueditor_text :content, initialFrameHeight:250, minFrameHeight: 250 , size: '40x10'  , label: '内容描述' %>
        </td>
      </tr>
    </table>
  </div>
</div>
