<div class="panel">
  <div class="panel-heading">招投标项目查询</div>
  <div class="panel-body">
    <div class="fl" >
      <%= form_for @q, :url => admin_articles_path, :html => {:method => :get, :class => " form-inline"}  do |f| %>
          <span>文章创建时间：&nbsp;
            <%= f.text_field :created_at_gt, readonly: true, class: 'form-control', :onclick => "WdatePicker({dateFmt:'yyyy-MM-dd'})" %>-
            <%= f.text_field :created_at_lt, readonly: true, class: 'form-control', :onclick => "WdatePicker({dateFmt:'yyyy-MM-dd 23:59:00'})" %>
          </span>
          <span>文章名称：&nbsp;<%= f.search_field :title_cont, class: 'form-control' , placeholder: "请输入.."%></span>
          <span>
          <button class="btn btn-primary btn_search btn-primary btn-small"  type="submit">查 询</button>
        </span>
      <% end %>
    </div>
  </div>
</div>
