<div class="footer mt20">
  <div class="footer_width ">
    <div class="footer_lxgy clearfix">
      <div class="footer_width_left">
        <img src="/plugins/images/icon_32.png">
      </div>
      <div class="footer_width_center">
        <h1>联系我们</h1>
        <p>联系人：邹小龙</p>
        <p>电　话：0795-3562799</p>
        <p>邮　箱：zouxiaolong_1966#163.com（请将#换成@）</p>
        <p>地　址：宜春市袁州区袁山东路４号（财政局内）</p>
        <p>邮　编：336000</p>
      </div>
      <div class="footer_width_right">
        <h1>关于我们</h1>
        <p> 红豆杉网由江西红豆杉生物科技股份有限公司开发运营。公司在宜春开发了总投资16亿人民币的红豆杉主题产业园，开发总面积约21560亩。生态产业园。</p>
      </div>
    </div>
    <div class="footer_width_yzxx">
      <p> © 2015-2018 hdskj.cn 版权所有 ICP证：浙B2-20080101</p>
    </div>
  </div>

</div>
