<div class="content_right">
  <div class="ptxz ">
    <div class=" ejym_ptxz_tittle">
      <h1><a href="#" class="krkttb">红豆杉百科</a></h1>

    </div>
    <ul>
      <li style="font-size: 14px; "><a href="#">红豆杉种子种植沙藏</a></li>
      <li><a href="#"><img src="/plugins/images/icon_126_18.png"></a></li>
      <li class="bdyz" style="font-size:12px; text-indent:8mm ;"><a href="#">经济作物种植合作社的种植专家杨先生告诉知红豆杉种子价格涨的比
      经济作物种植合作社的种植专家杨先生告诉知红豆杉种子价格涨的比</a></li>
    </ul>
  </div>
  <div class="rmwz ">
    <div  class=" ejym_ptxz_tittle mt20 clearfix ">
      <h1 ><a class="rmwztb"  href="#">本月排行</a></h1>
    </div>
    <ul id="tagcontent4" class="rmwz_content">
      <div>
        <li><span class="num-top">10.</span><a href="#"> 江西宜丰非法采伐南方红豆杉案嫌疑人.</a></li>
        <li><span class="num-top">8.</span><a href="#"> 非法采伐红豆杉 两男子被拘</a></li>
        <li><span class="num-top">9.</span><a href="#"> 中国红豆杉研究院植树公益行</a></li>
        <li><span >6.</span><a href="#"> 红豆杉产业链成气候</a></li>
        <li><span>5.</span><a href="#"> 中国红豆杉研究院植树公益行</a></li>
        <li><span>6.</span><a href="#"> 中国红豆杉高科技产业园评为“四星级...</a></li>
        <li><span>7.</span><a href="#"> 坚持红豆杉野生资源保护，促进人工培...</a></li>
        <li><span>8.</span><a href="#"> 坚持红豆杉野生资源保护，促进人工培...</a></li>
        <li><span>9.</span><a href="#"> 坚持红豆杉野生资源保护，促进人工培...</a></li>
        <li style="border:none"><span>10.</span><a href="#"> 坚持红豆杉野生资源保护，促进人工培...</a></li>
      </div>
    </ul>
  </div>


  <div class="mt20">
    <img src="/plugins/images/icon_121_03.png">
  </div>
  <div class="ptxz mt20">
    <div class="yjg_tittle">
      <h1>行业资讯</h1>
    </div>
    <ul class="yjg_content clearfix">
      <li><a href="#">竹溪县人工扦插红豆杉技术</a><span>11-02</span></li>
      <li><a href="#">竹溪县人工扦插红豆杉技术</a><span>11-02</span></li>
      <li><a href="#">竹溪县人工扦插红豆杉技术</a><span>11-02</span></li>
      <li><a href="#">竹溪县人工扦插红豆杉技术</a><span>11-02</span></li>
      <li><a href="#">竹溪县人工扦插红豆杉技术</a><span>11-02</span></li>
      <li><a href="#">竹溪县人工扦插红豆杉技术</a><span>11-02</span></li>
    </ul>
  </div>
  <div class="mt20" >
    <img src="/plugins/images/icon_2_1_03.png">


  </div>
</div>
