<div class="signin-form">
  <!-- Form -->
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="signin-text">
      <span>红豆杉科技</span>
    </div> <!-- / .signin-text -->

    <div class="form-group w-icon">
      <%= f.text_field :user_name, :autofocus => true, :placeholder => "请输入您的用户名", :class=>"form-control input-lg" %>
      <span class="fa fa-user signin-form-icon"></span>
    </div> <!-- / Username -->

    <div class="form-group w-icon">
      <%= f.password_field :password, :class => "form-control input-lg" %>
      <span class="fa fa-lock signin-form-icon"></span>
    </div> <!-- / Password -->

    <div class="form-actions">
      <%= f.submit "立即登录", :class=>'signin-btn bg-primary' %>
      <!-- <a href="#" class="forgot-password" id="forgot-password-link">忘记密码?</a> -->
      <%#= link_to "QQ账号登录",  user_omniauth_authorize_path(:tqq) %>
    </div> <!-- / .form-actions -->
  <% end %>
  <!-- / Form -->


</div>
